<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
|
| <div class="nav-side-menu">
|     <div class="brand">ondasonora.cl</div>
|     <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
|
|         <div class="menu-list">
|
|             <ul id="menu-content" class="menu-content collapse out">
|                 <li>
|                   <a href="/admin">
|                   <i class="fa fa-home fa-lg"></i> Home
|                   </a>
|                 </li>
|
|               <!--  <li data-toggle="collapse" data-target="#service" class="collapsed">
|                   <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
|                 </li>
|                 <ul class="sub-menu collapse" id="service">
|                   <li>New Service 1</li>
|                   <li>New Service 2</li>
|                   <li>New Service 3</li>
|                 </ul>
|
|
|                 <li data-toggle="collapse" data-target="#new" class="collapsed">
|                   <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
|                 </li>
|                 <ul class="sub-menu collapse" id="new">
|                   <li>New New 1</li>
|                   <li>New New 2</li>
|                   <li>New New 3</li>
|                 </ul> -->
|
|
|                  <li>
|                   <a href="/admin/messages">
|                   <i class="fa fa-envelope-o fa-lg"></i> Messages
|                   </a>
|                   </li>
|
|                  <li>
|                   <a href="/admin/users">
|                   <i class="fa fa-users fa-lg"></i> Users
|                   </a>
|                 </li>
|
|                   <li>
|                       <a href="/admin/payments">
|                       <i class="fa fa-credit-card fa-lg"></i> Payments
|                       </a>
|                   </li>
|
|                  <li>
|                    <a href="#">
|                    <i class="fa fa-file-o fa-lg"></i> Reports
|                    </a>
|                 </li>
|
|                  <li>
|                    <a href="/admin/add_admin">
|                    <i class="fa fa-edit fa-lg"></i> Add new Admin
|                    </a>
|                </li>
|
|                   <li>
|                     <a href="/admin/logout">
|                     <i class="fa fa-sign-out fa-lg"></i> Logout
|                     </a>
|                </li>
|
|             </ul>
|      </div>
| </div>