extends layout

block content
    div(class="html_body")
        h2 Usuarios
        p <form action="?search=true" method="get"> Search <input type="text" name="usrex"><br><input type="submit" value="Search"></form>
        div(class="panel panel-primary")
            table(class="table" width="500")
                tr
                    th Nombre Completo
                    th Nombre Usuario
                    th E-mail
                    th ¿Puede crear?
                each usr in users
                    tr
                        td #{usr.profile.fullname}
                        td #{usr.username}
                        td #{usr.email}
                        if (usr.status)
                            td Si
                        else
                            td <form action="/admin/users/#{usr._id}" method="post"><input type="submit" value="Permitir"></form>